<div class="container">
  <app-header></app-header>
</div>
<div>
  <div class="row">
    <app-recipe></app-recipe>
  </div>
  <div class="row">
    <app-recipeDetail></app-recipeDetail>
  </div>
  <div class="row">
    <app-recipeItem></app-recipeItem>
  </div>
  <div class="row">
    <app-recipeList></app-recipeList>
  </div>
  <div class="row">
    <app-shopping></app-shopping>
  </div>
  <div class="row">
    <app-shoppingList></app-shoppingList>
  </div>
  <div class="row">
    <app-shoppingListEdit></app-shoppingListEdit>
  </div>
</div>